on:
  workflow_call:

jobs:
  lighthouse:
    name: Audit pages using lighthouse
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3.5.3

      - name: Set up prerequisites - node and yarn
        uses: actions/setup-node@v3
        with:
          node-version-file: ".nvmrc"

      - name: Cache yarn dependencies
        id: cache
        uses: actions/cache@v3
        with:
          path: ./node_modules
          key: modules-${{ hashFiles('yarn.lock') }}

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install
      - name: Download generated site
        id: download_site
        uses: actions/download-artifact@v3
        with:
          name: site
          path: _site

      - name: Run Audit
        uses: treosh/lighthouse-ci-action@v10
        with:
          configPath: "./lighthouserc.json"
          budgetPath: ./src/_includes/budget.json
          uploadArtifacts: true
          temporaryPublicStorage: true
